body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 20px;
    color:rgb(31, 25, 92);
    font-family: 'Tinos', serif;
    
}

h1{
    font-size: 40px;
    color: rgb(31, 25, 92);
    text-align: center;
    padding: 40px 0 20px 0;
}


.hlavicka img{
    float: left;
    width: 200px;
    border: 4px solid rgb(253, 250, 250);
    border-radius: 50%;
    padding: 5px;
    margin-left: 15%;
}

.hlavicka table{
    padding: 20px 0px 60px 50px;
    font-size: 20px;
    line-height: 2;

}
.hlavicka .tabulkavpravo{
    padding-left: 60px;
}

a{
    color:black
}

a:hover,
a:focus,
a:active{
    background-color: rgb(253, 250, 250);
    text-decoration: none;
}

h2{
    text-align: center;
    font-size: 27px;
    color: rgb(31, 25, 92);
    padding-top: 25px;
}

.hlavicka{
    margin-top: 30px;
    
}

.hlavicka,
.vzdelani,
.znalosti,
.pracovnizkusenosti,
.zajmy{
    background-color: rgba(236, 195, 148, 0.432);
    margin: 0 10%;
    line-height: 2;
    padding-bottom: 30px;
}

.vzdelani ul,
.pracovnizkusenosti ul{
    margin-left: 15%;
}
    

.zajmy ul{
    text-align: center;
    
}
.zajmy li{
    display: inline-block;
    padding: 0 40px;
    margin: 0 10px;
    background-color: rgb(31, 25, 92);
    color: white

}
.znalosti table{
    border-spacing: 0;
    padding-left: 15%;
    margin-bottom: 20px;
}
.znalosti td{
    border-bottom: 2px solid rgb(253, 250, 250);
}    
.znalosti .tabulkavpravo{
    padding-left: 600px;
    text-align: right;
}

.paticka{
    text-align: center;
    padding: 10px 0;
}